@charset "utf-8";

body {
  background: #fefef1;
  background-color: #fefef1;
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
}

#pageloader {
  background-color: #ffdd57;
  background: #ffdd57;
}

#pageloader::after {
  border-color: rgba(0, 0, 0, 0.7);
  -webkit-animation: loader-figure-warning 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: loader-figure-warning 1.15s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
}

#pageloader .title {
  color: rgba(0, 0, 0, 0.7);
}

button#cancel {
  margin-right: auto;
}

button#submit {
  margin-left: auto;
}
