<!DOCTYPE html>
<html class="no-js" lang="ja">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>ぬりカメ - はっきんぐパパ</title>
    <!-- TODO: OGP -->
    <meta content="TODO: 説明文" name="description">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/bulma-0.8.2/css/bulma.min.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/bulma-0.8.2/css/bulma-pageloader.min.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="css/base.css") }}" rel="stylesheet">
  </head>
  <body>
    <!-- IE9未満への配慮が不要であれば、削除 -->
    <!--[if lte IE 9]>
    <p class="browserupgrade">IE9未満用のメッセージ</p>
    <![endif]-->

    {% block content %}
      <!-- Contents Here! -->
    {% endblock %}

    <script src="{{ url_for("static", filename="js/alpine-2.2.5/alpine.js") }}"></script>
    <script src="{{ url_for("static", filename="js/axios-0.19.2/axios.min.js") }}"></script>
    <script src="{{ url_for("static", filename="js/BulmaJS-0.10.3/bulma.js") }}"></script>
    <script src="{{ url_for("static", filename="js/main.js") }}"></script>

    <!-- TODO: Google Analytics -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("send", "pageview");
    </script>
    <script
      async
      defer
      src="https://www.google-analytics.com/analytics.js"
    ></script>
  </body>
</html>
