<!DOCTYPE html>
<html class="no-js" lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}" />
    <link rel="apple-touch-icon" type="image/png" href="{{ url_for('static', filename='apple-touch-icon.png') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="ぬりカメ" />
    <meta name="apple-mobile-web-app-title" content="ぬりカメ" />
    <meta name="theme-color" content="#f1f1f0" />
    <meta name="msapplication-navbutton-color" content="#f1f1f0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="msapplication-starturl" content="/" />
    <title>ぬりカメ - はっきんぐパパ</title>
    <meta property="og:title" content="ぬりカメ - はっきんぐパパ" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.url_root }}" />
    <meta property="og:image" content="{{ request.url_root }}static/img/OGP.png" />
    <meta content="TODO: 説明文" name="description" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/bulma-0.8.2/css/bulma.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/bulma-0.8.2/css/bulma-pageloader.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet" />
  </head>
  <body>
    {% block content %}
      <!-- Contents Here! -->
    {% endblock %}

    <script src="{{ url_for('static', filename='js/alpine-2.2.5/alpine.js') }}"></script>
    <script src="{{ url_for('static', filename='js/axios-0.19.2/axios.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/BulmaJS-0.10.3/bulma.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- Google Analytics -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-133451341-1", "auto");
      ga("send", "pageview");
    </script>
    <script
      async
      defer
      src="https://www.google-analytics.com/analytics.js"
    ></script>
  </body>
</html>
