<!DOCTYPE html>
<html class="no-js" lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='favicon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon-16x16.png') }}"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      href="{{ url_for('static', filename='apple-touch-icon.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='manifest.json') }}"
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="ぬりカメ" />
    <meta name="apple-mobile-web-app-title" content="ぬりカメ" />
    <meta name="theme-color" content="#f1f1f0" />
    <meta name="msapplication-navbutton-color" content="#f1f1f0" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="msapplication-starturl" content="/" />
    <title>ぬりカメ - はっきんぐパパ</title>
    <meta property="og:title" content="ぬりカメ - はっきんぐパパ" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.url_root }}" />
    <meta
      property="og:image"
      content="{{ request.url_root }}static/img/OGP.png"
    />
    <meta content="TODO: 説明文" name="description" />
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <link
      href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/bulma-0.8.2/css/bulma.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/bulma-0.8.2/css/bulma-pageloader.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/base.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Flash Message -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="notification {{ category }}">
      <button @click="$el.innerHTML=''" class="delete"></button>
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %} {% block content %}
    <!-- Contents Here! -->
    {% endblock %}

    <section>
      <div class="columns">
        <div class="column is-half">
          <div class="container has-text-centered">
            <h2 class="title">おといあわせはこちら</h2>
            <div class="container is-inline-block">
              <div class="container is-flex">
                <a
                  href="mailto:team.hacking.papa@gmail.com?subject=【ぬりカメ】 "
                >
                  <img
                    alt="メール"
                    class="container image is-128x128"
                    src="static/img/envelope-regular.svg"
                  />
                  <span class="is-size-5 has-text-info"
                    >team.hacking.papa@gmail.com</span
                  >
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-half is-hidden-mobile">
          <div class="container has-text-centered">
            <h2 class="title">スマートフォンはこちら</h2>
            <figure class="container image is-128x128">
              <img alt="QRコード" class="" src="static/img/qr-code.svg" />
            </figure>
            <a
              class="is-size-5 has-text-info"
              href="https://nuricame.hacking-papa.com"
              >https://nuricame.hacking-papa.com</a
            >
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <figure>
          <img
            alt="はっきんぐパパ"
            src="static/img/10_hackingpapa_logo_2.png"
          />
        </figure>
        <p class="is-size-7">
          &copy; 2020 はっきんぐパパ おーるらいつりざーぶど
        </p>
      </div>
    </footer>

    <script src="{{ url_for('static', filename='js/alpine-2.2.5/alpine.js') }}"></script>
    <script src="{{ url_for('static', filename='js/BulmaJS-0.10.3/bulma.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <!-- Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-133451341-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag("js", new Date());
      gtag("config", "UA-133451341-1");
    </script>
  </body>
</html>
