{% extends "base.html" %} {% block content %}
<section class="section">
  <nav class="margin-bottom-6rem" id="brand-icon">
    <img src="static/img/001_hackingpapa_logo.png" alt="はっきんぐパパ" />
  </nav>
</section>
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <figure class="margin-bottom-6rem">
        <img src="static/img/002_logo.png" alt="ぬりカメ" class="width-80vw" />
      </figure>
    </div>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <div class="has-text-weight-bold is-size-4 is-size-6-mobile margin-bottom-4rem">
      <ruby>外出<rt>がいしゅつ</rt></ruby
      >できなくて、<br />おうち<ruby>遊<rt>あそ</rt></ruby
      >びにも<ruby>飽<rt>あ</rt></ruby
      >きてきた！<br />そんな<ruby>全国<rt>ぜんこく</rt></ruby
      >の<ruby>子<rt>こ</rt></ruby
      >どもたちのために。<br /><ruby>好<rt>す</rt></ruby
      >きなものをなんでもカメラで<br /><ruby>撮<rt>と</rt></ruby
      >ってぬりえにして<ruby>遊<rt>あそ</rt></ruby
      >べる<br /><ruby>魔法<rt>まほう</rt></ruby
      >のカメラ「ぬりカメ」を<ruby>WEB<rt>うぇぶ</rt></ruby
      >ばんで<br />すべての<ruby>子<rt>こ</rt></ruby
      >どもたちに<ruby>無料<rt>むりょう</rt></ruby
      ><ruby>公開<rt>こうかい</rt></ruby
      >します。<br />ぜひ、ご<ruby>家庭<rt>かてい</rt></ruby
      >で<ruby>子<rt>こ</rt></ruby
      >どもたちと<br /><ruby>一緒<rt>いっしょ</rt></ruby
      >にいろんなものをぬりえにして<br />おうち<ruby>時間<rt>じかん</rt></ruby
      >をたくさん<ruby>楽<rt>たの</rt></ruby
      >んでください。
    </div>
  </div>
</section>
<section x-data="selectPhoto()" class="section">
  <div class="container has-text-centered">
    <h2 class="title has-text-weight-bold is-size-3 is-size-5-mobile margin-bottom-2rem">
      ＼さっそくぬりえをつくる／
    </h2>
    <div id="pageloader" class="pageloader" x-bind:class="activeLoading()">
      <span class="title has-text-weight-bold is-size-3 is-size-5-mobile"
        >ぬりえを<ruby>作<rt>つく</rt></ruby
        >ってるよ！<br />ちょっと<ruby>待<rt>ま</rt></ruby
        >っててね。</span
      >
    </div>
    <div class="file is-large is-light is-centered">
      <label class="file-label">
        <input
          class="file-input"
          type="file"
          accept="image/{{ allowed_extensions | join(',') }}"
          name="image"
          id="file-input"
          x-on:change="preview()"
        />
        <figure class="margin-bottom-4rem">
          <img
            src="static/img/003_button.png"
            alt="画像をアップする"
            class="width-60vw"
          />
        </figure>
      </label>
    </div>
    <div class="modal" id="modal-preview">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title has-text-weight-bold is-size-3 is-size-5-mobile">
            ぬりえにしたい<ruby>画像<rt>がぞう</rt></ruby>
          </p>
          <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <div class="container">
            <figure>
              <img
                src="https://placehold.jp/3024x4032.png?text=アップされた写真(3024x4032)"
                alt="アップされた写真"
                id="image-preview"
                class="width-80vw"
              />
            </figure>
          </div>
        </section>
        <footer class="modal-card-foot">
          <button
            id="cancel"
            class="button is-medium is-outline"
            @click="closePreview()"
          >
            <span class="has-text-weight-bold is-size-5 is-size-7-mobile">やめる</span>
          </button>
          <button
            id="submit"
            class="button is-large is-primary"
            @click="post()"
          >
            <span class="has-text-weight-bold is-size-4 is-size-6-mobile"
              >これでぬりえをつくる</span
            >
          </button>
        </footer>
      </div>
    </div>
    <div class="container has-text-centered" x-show="hasResult()">
      <figure class="margin-bottom-2rem">
        <!-- PWA -->
        <div x-show="isPwa()">
          <a href="" id="download-link" download>
            <img src="" alt="ぬりえになった画像" id="image-result-for-pwa" />
          </a>
        </div>
        <!-- Not PWA -->
        <div x-show="!isPwa()">
          <img src="" alt="ぬりえになった画像" id="image-result" />
        </div>
      </figure>
      <h2 class="has-text-weight-bold is-size-3 is-size-5-mobile margin-bottom-2rem">
        ぬりえ<ruby>完成<rt>かんせい</rt></ruby
        >したよ！<br />
        ダウンロードして<ruby>印刷<rt>いんさつ</rt></ruby
        >しよう！
      </h2>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="has-text-weight-bold is-size-3 is-size-5-mobile">
        ぬりカメ<ruby>WEB<rt>うぇぶ</rt></ruby
        >ばんの<ruby>使<rt>つか</rt></ruby
        >い<ruby>方<rt>かた</rt></ruby>
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <div class="container">
      <figure class="margin-bottom-2rem">
        <img
          src="static/img/004_SP.png"
          alt="サンプルの画像"
          class="width-80vw"
        />
      </figure>
    </div>
    <div class="has-text-weight-bold is-size-4 is-size-6-mobile margin-bottom-2rem">
      ぬりえにしたいものが<br /><ruby>出来<rt>でき</rt></ruby
      >るだけ<ruby>真<rt>ま</rt></ruby
      >ん<ruby>中<rt>なか</rt></ruby
      >に<ruby>来<rt>く</rt></ruby
      >るように<br />カメラで<ruby>撮影<rt>さつえい</rt></ruby
      >、<br />または<ruby>画像<rt>がぞう</rt></ruby
      >をアップしよう！
      <p class="has-text-weight-medium is-size-5 is-size-7-mobile margin-bottom-2rem">
        ※ぬりえになるのは<ruby>中央<rt>ちゅうおう</rt></ruby
        >の<ruby>正方形<rt>せいほうけい</rt></ruby
        ><ruby>領域<rt>りょういき</rt></ruby
        >のみです。
      </p>
    </div>
    <div class="container">
      <figure class="margin-bottom-2rem">
        <img
          src="static/img/005_arrow_down.png"
          alt="下向き矢印"
          class="info-icon"
        />
      </figure>
      <figure class="margin-bottom-2rem">
        <img
          src="static/img/006_sarunurie.png"
          alt="ぬりえになった画像"
          class="width-80vw"
        />
      </figure>
      <div class="has-text-weight-bold is-size-4 is-size-6-mobile margin-bottom-2rem">
        ぬりえ<ruby>完成<rt>かんせい</rt></ruby
        >！<br />ダウンロードしてね。
      </div>
      <figure class="margin-bottom-2rem">
        <img
          src="static/img/005_arrow_down.png"
          alt="下向き矢印"
          class="info-icon"
        />
      </figure>
      <figure class="margin-bottom-2rem">
        <img
          src="static/img/008_printer.png"
          alt="印刷風景"
          class="width-80vw"
        />
      </figure>
    </div>
    <div class="has-text-weight-bold is-size-4 is-size-6-mobile margin-bottom-2rem">
      ダウンロードしたぬりえを、<br />プリンター<ruby
        >印刷<rt>いんさつ</rt></ruby
      >するだけ！<br /><ruby>自由<rt>じゆう</rt></ruby
      >に<ruby>塗<rt>ぬ</rt></ruby
      >っていっぱい<ruby>楽<rt>たの</rt></ruby
      >しんでね。
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="title has-text-weight-bold is-size-3 is-size-5-mobile">ぬりカメとは</h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <div class="has-text-weight-bold is-size-4 is-size-6-mobile margin-bottom-6rem">
      <p class="margin-bottom-2rem">
        <ruby>好<rt>す</rt></ruby
        >きなものを、パシャっとぬりえに。
      </p>
      <p class="margin-bottom-2rem">
        <ruby>楽<rt>たの</rt></ruby
        >しかった<ruby>動物園<rt>どうぶつえん</rt></ruby
        >。お<ruby>気<rt>き</rt></ruby
        >に<ruby>入<rt>い</rt></ruby
        >りの<br />ぬいぐるみ。ママとのツーショット。<br /><ruby
          >子<rt>こ</rt></ruby
        >どもの<ruby>目<rt>め</rt></ruby
        >に<ruby>映<rt>うつ</rt></ruby
        >る<ruby>日々<rt>ひび</rt></ruby
        >の<ruby>情景<rt>じょうけい</rt></ruby
        >を<br /><ruby>大好<rt>だいす</rt></ruby
        >きなぬりえにして<ruby>遊<rt>あそ</rt></ruby
        >べたらいいなと<br /><ruby>思<rt>おも</rt></ruby
        >ったのがきっかけです。
      </p>
      <p class="margin-bottom-2rem">
        カメの<ruby>形<rt>かたち</rt></ruby
        >のカメラで<ruby>写真<rt>しゃしん</rt></ruby
        >を<ruby>撮<rt>と</rt></ruby
        >ると、<br />ぬりえになってその<ruby>場<rt>ば</rt></ruby
        >で<br />プリントされます。<br />じぶんだけのぬりえを<ruby
          >作<rt>つく</rt></ruby
        >って、<br /><ruby>塗<rt>ぬ</rt></ruby
        >って、<ruby>楽<rt>たの</rt></ruby
        >しめる<ruby>魔法<rt>まほう</rt></ruby
        >のカメラです。
      </p>
    </div>
    <figure class="image is-5by3 margin-bottom-6rem">
      <iframe
        class="has-ratio"
        src="https://www.youtube.com/embed/M2JKckXSP6g?showinfo=0"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </figure>
    <figure class="margin-bottom-2rem">
      <img src="static/img/009_products.png" alt="1号機" class="width-80vw" />
    </figure>
    <div class="has-text-weight-bold is-size-5 is-size-7-mobile margin-bottom-6rem">
      ぬりカメ1<ruby>号機<rt>ごうき</rt></ruby>
    </div>
    <figure class="margin-bottom-6rem">
      <img
        src="static/img/010_nuriephoto.png"
        alt="ぬりえしてる様子"
        class="width-80vw"
      />
    </figure>
  </div>
</section>
<section>
  <div class="columns margin-bottom-4rem">
    <div class="column is-half">
      <div class="container has-text-centered">
        <h2 class="title is-size-4 is-size-6-mobile margin-bottom-2rem">おといあわせはこちら</h2>
        <div class="container is-inline-block">
          <div class="container is-flex margin-bottom-2rem">
            <a href="mailto:team.hacking.papa@gmail.com?subject=【ぬりカメ】 ">
              <img
                class="container image info-icon margin-bottom-2rem"
                src="static/img/011_mail.png"
                alt="メール"
              />
              <span class="is-size-4 is-size-6-mobile has-text-info"
                >team.hacking.papa@gmail.com</span
              >
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-half is-hidden-mobile">
      <div class="container has-text-centered">
        <h3 class="title is-size-4 is-size-6-mobile margin-bottom-2rem">
          スマートフォンはこちら
        </h3>
        <div class="container">
          <figure class="margin-bottom-2rem">
            <img
              src="static/img/qr-code.svg"
              alt="QRコード"
              class="info-icon"
            />
          </figure>
          <a
            href="https://nuricame.hacking-papa.com"
            class="is-size-4 is-size-6-mobile has-text-info"
            >https://nuricame.hacking-papa.com</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="footer background-thema-color">
  <div class="content has-text-centered">
    <div class="container">
      <div class="margin-bottom-4rem">
        <a href="https://hacking-papa.com">
          <img
            src="static/img/012_footer_hackingpapa_logo.png"
            alt="はっきんぐパパ"
          />
        </a>
      </div>
      <p class="is-size-6 is-size-7-mobile">
        &copy; 2020 はっきんぐパパ おーるらいつりざーぶど
      </p>
    </div>
  </div>
</footer>
{% endblock %}
