{% extends "base.html" %}
{% block content %}
<section class="section">
  <div class="has-text-left">
    <span>ロゴ: はっきんぐパパ</span>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-1">img: ぬりカメ WEBばん</h1>
    <p class="is-1">
      外出できなくて、遊ぶものがない！<br />
      家遊びに飽きた！<br />
      という子どもたちのために。
    </p>
    <p>
      撮ったものをなんでも<br />
      ぬりえにしてくれる、<br />
      魔法のカメラ「ぬりカメ」を<br />
      WEBばんで公開します。
    </p>
    <p>
      ぜひ、ご家庭で子どもたちと一緒に<br />
      ぬりえを作って遊んでください。
    </p>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <h2 class="title is-2">\ さっそくぬりえをつくる /</h2>
    <div class="columns is-multiline is-centered">
      <div class="column is-narrow has-text-centered">
        <div x-data="camera()">
          <button class="button" x-on:click="open()">image: 写真を撮る</button>
          <div x-show="isOpen()" x-on:click.away="close()">
              image area:
          </div>
        </div>
      </div>
      <div class="column is-narrow has-text-centered">
        <button class="button">
          <span>image: 画像をアップする</span>
        </button>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <h2 class="title is-2">ぬりカメWEBばんの使い方</h2>
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="tile is-ancestor">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary">
              <p>image: 変換前</p>
              <p>
                スマホやPCのカメラで撮る<br />
                or<br />
                お気に入りの画像をアップ
              </p>
            </article>
            <article class="tile is-child notification is-warning">
              <p>image: 変換後</p>
              <p>
                ぬりえ化完了！
              </p>
            </article>
            <article class="tile is-child notification is-success">
              <p>image: プリント</p>
              <p>
                プリンターで印刷。<br />
                存分に塗ってね。
              </p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <h2 class="title is-2">ぬりカメとは</h2>
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="tile is-ancestor">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary">
              <p>movie: </p>
            </article>
            <article class="tile is-child notification is-warning">
              <p>image: ぬりカメ1号機</p>
              <p>ぬりカメ1号機</p>
              </p>
            </article>
            <article class="tile is-child notification is-success">
              <p>image: </p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <p>お問い合わせはこちら</p>
    <span class="icon is-large">
      <i class="far fa-envelope fa-3x"></i>
    </span><br />
    <a href="mailto:team.hacking.papa@gmail.com?subject=ぬりカメ問い合わせ">team.hacking.papa@gmail.com</a>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <span>ロゴ: はっきんぐパパ</span>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <p>&copy; 2020 はっきんぐぱぱ おーるらいつりざーぶど</p>
  </div>
</section>
{% endblock %}
