<head>
  <link
    href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"
    rel="stylesheet"
  />
  <link
    href="{{ url_for('static', filename='css/bulma-0.8.2/css/bulma-pageloader.min.css') }}"
    rel="stylesheet"
  />
</head>
<body>
<section x-data="photoSelect()">
  <form action="/result" enctype="multipart/form-data" method="post">
    <input @click="startPreview()" name="image" type="file"/>
  </form>
  <div class="modal" id="modal-preview">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">
          ぬりえにしたい
          <ruby>画像
            <rt>がぞう</rt>
          </ruby>
        </p>
        <button aria-label="close" class="delete"></button>
      </header>
      <section class="modal-card-body">
        <figure class="image">
          <img alt="アップされた写真" id="image-preview" src=""/>
        </figure>
      </section>
      <footer class="modal-card-foot">
        <button
          @click="closePreview()"
          class="button is-medium is-outline"
          id="cancel"
        >
          やめる
        </button>
        <input @click="" name="submit" type="submit" value="submit"/>
      </footer>
    </div>
  </div>
  <div class="pageloader is-active" x-show="isLoading()">
      <span class="title"
      >ぬりえを<ruby>作<rt>つく</rt></ruby
      >ってるよ！ちょっと<ruby>待<rt>ま</rt></ruby
      >っててね。</span
      >
  </div>
</section>
<script
  defer
  src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v1.10.1/dist/alpine.js"
></script>
<script>
  function photoSelect() {
    return {
      loading: false,
      startLoading() {
        this.loading = true;
      },
      isLoading() {
        return this.loading;
      },
      openPreview() {
        // TODO: Not Implemented!
      },
      closePreview() {
        // TODO: Not Implemented!
      },
    };
  }
</script>
</body>
